$sizes = 600 960 1200

// width/height
$headerHeight = 64px
$headerHeightForMobile = 56px
$footerHeight = 50px

// color
$successColor = #4CAF50
$errorColor = #F44336
$warningColor = #FF9800
$infoColor = #2196F3
$whiteColor = #FFFFFF
$blackColor = #000000
$blueColor = #2196F3
$pinkColor = #E6E6FA
$blueGreyColor = #00CDCD
$blueLightColor = #00b0f0
$navBarCollapseColor = #585248

$loadingBarColor = #FF9E80
$loadingBgColor = #FBE9E7
$loadingBarShodowColor = #F1D9A4
