@import '../common/styles/common'

.footer-view
    font-size 1.8rem
    color $whiteColor
    .navbar
        box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
        background-color $pinkColor
        height $footerHeight
        line-height $footerHeight
        .copyright
        	text-align center
        	margin 5px 0
        	text-shadow 1px 1px rgba(0, 0, 0, .2)
        	a
        		text-decoration underline
        		color $whiteColor
